:root {
  --main-color: black;
  --secondary-color: orange;
}

.navbar {
  display: flex;
}

.nav-left {
  
}

.nav-middle {

}

.nav-right {

}

.nav-container-parent {
  display: flex;


}
.nav-container-child {

  border: 2px solid blue;
  justify-content: space-evenly;

}

ul {
padding: 0;
list-style-type: none;}

#roomies-logo {
  margin-left: auto;
  margin-right: auto
}
